#simulation {
  width: 100%;
  overflow-x: auto;
  display: grid;
}
.form {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.buttonContainer {
  width: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.floor {
  width: 100%;
  position: relative;
  display: flex;
  height: 100px;
  border-bottom: 1px solid #0e0e60;
}
button {
  border: none;
  padding: 5px;
  cursor: pointer;
}
.upButton,
.upButton:disabled {
  background-color: #28a745;
  color: white;
}
.downButton,
.downButton:disabled {
  background-color: #ffa107;
  color: white;
}
.liftContainer {
  display: flex;
  align-items: flex-end;
  margin-left: 35px;
  gap: 2rem;
}
.lift {
  display: flex;
  height: 80px;
  width: 60px;
  min-width: 60px;
  background: skyblue;
  overflow: hidden;
}
.leftDoor {
  width: 50%;
  height: 100px;
  background: black;
}
.rightDoor {
  width: 50%;
  height: 100%;
  background: black;
}

@media (max-width: 600px) {
  .form {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
