* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
.form-submit {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#simulation {
  padding: 100px;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}
.lift {
  width: 100px;
  height: 120px;
  background: rebeccapurple;
}
.doors {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.leftDoor {
  background-color: rgb(23, 21, 25);
  width: 50%;
  height: 100%;
}
.rightDoor {
  background-color: rgb(23, 21, 25);
  width: 50%;
  height: 100%;
}
.floorcontrollers {
  display: flex;
  height: 125px;
}
.floorcontrollers > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.liftContainer {
  margin-left: 30px;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
button {
  padding: 5px;
  border: none;
}
.upBtn {
  background-color: #28a745;
}
.downBtn {
  background-color: #ffa107;
}
@media (max-width: 600px) {
  #simulation {
    padding: 20px;
  }
  .form-submit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .lift {
    width: 80px;
    height: 100px;
  }

  .leftDoor,
  .rightDoor {
    width: 50%;
    height: 100%;
  }

  .liftContainer {
    gap: 1rem;
  }

  button {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}
