* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#simulation {
  padding: 100px;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}
.lift {
  width: 100px;
  height: 120px;
  background: rebeccapurple;
}
.doors {
  display: flex;
  overflow: hidden;
}
.leftDoor {
  background-color: rgb(23, 21, 25);
  width: 50px;
  height: 120px;
}
.rightDoor {
  background-color: rgb(23, 21, 25);
  width: 50px;
  height: 120px;
}
.floorcontrollers {
  display: flex;
  height: 125px;
}
.floorcontrollers > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.liftContainer {
  margin-left: 30px;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
button {
  padding: 5px;
  border: none;
}
.upBtn {
  background-color: #28a745;
}
.downBtn {
  background-color: #ffa107;
}
